.textarea {
    @apply h-32
    min-h-32
    w-full
    shrink-0
    whitespace-pre-wrap
    rounded-lg
    bg-neutral-50
    p-3
    caret-neutral-500
    outline
    outline-1
    outline-neutral-300
    transition-colors
    placeholder:text-neutral-300
    hover:cursor-pointer
    hover:outline-neutral-400
    focus:cursor-text
    focus:shadow-inner
    focus:outline-neutral-500
    disabled:border-neutral-200
    disabled:text-neutral-300;

    &.validate {
        @apply invalid:bg-danger-100 
        invalid:outline-danger-300;
    }
}

.label {
    @apply absolute
    bottom-1
    right-2
    z-10
    flex
    flex-row
    items-center
    gap-1
    rounded
    bg-neutral-50
    bg-opacity-95
    px-1
    text-sm
    text-neutral-900
    text-opacity-20;

    .icon {
        @apply absolute top-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all;

        &.visible {
            @apply scale-100 opacity-100;
        }
    }
}
