.sidebar {
    @apply relative
    z-10
    border-b
    border-b-neutral-300
    md:h-full
    print:hidden;
}

.buttons {
    @apply relative 
    top-0
    z-50
    flex
    h-full
    shrink-0
    flex-row
    items-center
    justify-end
    gap-3
    border-r
    border-neutral-300 
    bg-neutral-50
    p-3 
    text-sm
    transition-all
    md:w-16
    md:flex-col
    md:justify-start;
}

.contents {
    @apply pointer-events-none
    absolute
    h-[80vh]
    w-full
    md:left-16  
    md:top-0
    md:h-full;
}
