.progress-bar {
    @apply relative
    flex
    h-6
    w-full
    max-w-full
    items-center
    justify-center
    overflow-hidden
    rounded-lg
    border
    border-neutral-300
    bg-neutral-100
    text-center
    shadow-inner
    transition-all
    md:max-w-[500px];
}

.progress {
    @apply absolute 
    left-0 
    top-0
    flex
    h-full
    items-center
    justify-center
    bg-info-500
    text-xs
    text-info-100
    shadow-inner
    md:text-sm;
}

.bar {
    @apply flex
    h-full
    w-full
    -translate-x-1
    items-center
    justify-center
    shadow-[0px_0px_12px_4px_rgba(0,0,0,0.3)]
    shadow-info-500
    after:absolute
    after:h-full
    after:w-full
    after:translate-x-1
    after:bg-gradient-to-b
    after:from-transparent
    after:to-neutral-900
    after:opacity-15;
}
