.container {
    @apply relative 
    h-fit rounded-lg;

    .text-input {
        @apply w-full
        rounded-md
        bg-neutral-50
        p-1
        px-2
        caret-neutral-500
        outline
        outline-1
        outline-neutral-300
        transition-all
        placeholder:text-neutral-300
        hover:cursor-pointer
        hover:outline-neutral-400
        focus:cursor-text
        focus:shadow-inner
        focus:outline-neutral-500
        disabled:border-neutral-200
        disabled:text-neutral-300;

        &.validate {
            @apply bg-danger-100 
            outline-danger-300
            placeholder:text-danger-500 
            placeholder:opacity-40
            hover:bg-danger-200;
        }
    }

    .icon {
        @apply pointer-events-none
        absolute
        right-1
        top-1/2
        grid
        size-6
        -translate-y-1/2
        scale-90
        
        place-items-center 
        opacity-0
        transition-all;

        &.visible {
            @apply pointer-events-auto 
            !scale-100
            !opacity-90;
        }
    }
}
