.button {
    @apply relative 
    grid
    place-items-center
    rounded
    bg-opacity-10
    text-neutral-500
    after:absolute
    after:left-1/2
    after:top-1/2
    after:-z-10
    after:size-0
    after:-translate-x-1/2
    after:-translate-y-1/2
    after:rounded-lg
    after:bg-neutral-500
    after:bg-opacity-10
    after:transition-all
    
    hover:text-neutral-900;

    svg {
        @apply absolute
        left-1/2
        top-1/2
        z-10
        -translate-x-1/2
        -translate-y-1/2
        scale-0
        transition-all;

        &.active {
            @apply scale-100;
        }
    }

    &.small {
        @apply size-8
        hover:after:size-8;

        svg {
            @apply size-6;
        }
    }
    &.medium {
        @apply size-10 
        hover:after:size-10;

        svg {
            @apply size-8;
        }
    }
    &.large {
        @apply size-12 
        hover:after:size-11;

        svg {
            @apply size-10;
        }
    }
}
