.item {
    @apply relative 
    px-3
    py-6;

    &.hoverline {
        @apply after:absolute
        after:left-1/2
        after:top-full
        after:h-1
        after:w-4
        after:-translate-x-1/2
        after:-translate-y-full
        after:rounded-t
        after:bg-neutral-300
        after:transition-all
        hover:text-neutral-900
        hover:after:w-full
        hover:after:bg-primary-500;
    }
}
