.link {
    @apply relative 
    inline-block
    font-bold 
    after:absolute
    after:left-0
    after:top-0 
    after:h-full  
    after:w-full 
    after:rounded;

    &.primary {
        @apply after:bg-primary-500
        after:bg-opacity-0 
        hover:after:bg-opacity-20;
    }
    &.secondary {
        @apply after:bg-secondary-500
        after:bg-opacity-0 
        hover:after:bg-opacity-20;
    }
    &.warning {
        @apply after:bg-warning-500
        after:bg-opacity-0 
        hover:after:bg-opacity-20;
    }
    &.info {
        @apply after:bg-info-500
        after:bg-opacity-0 
        hover:after:bg-opacity-20;
    }
    &.danger {
        @apply after:bg-danger-500
        after:bg-opacity-0 
        hover:after:bg-opacity-20;
    }

    .text {
        @apply relative
        z-10 
        px-2;
    }
}
